@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --card-bg: hsl(216, 50%, 16%);
    --desktop-width: 1440px;
    --line-color: hsl(215, 32%, 27%);
    --main-bg: hsl(217, 54%, 11%);
    --mobile-width: 375px;
    --primary-blue: hsl(215, 51%, 70%);
    --primary-cyan: hsl(178, 100%, 50%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--main-bg);
    font-family: Outfit, sans-serif;
    font-size: 18px;
}

.container {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg);
    max-width: 18em;
    padding: 1em;
    border-radius: 1em;
}

.card-image {
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;
    cursor: pointer;
    margin: 0;
}

.card-image img {
    border-radius: .5em;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.card-image:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    border-radius: .5em;
}

.card-image:hover:after {
    background: rgba(0, 255, 247, 0.5) url("images/icon-view.svg") no-repeat center;
}

.card-title {
    color: var(--white);
    margin-bottom: -.25em;
    font-size: 1.5em;
}

.card-title:hover {
    color: var(--primary-cyan);
    cursor: pointer;
}

.card-description {
    color: var(--primary-blue);
    margin-bottom: 1em;
}

.card-details {
    display: flex;
    justify-content: space-between;
}

.card-details > span > span {
    margin-left: .5em;
}

.price {
    display: flex;
    align-items: center;
    color: var(--primary-cyan);
}

.duration {
    display: flex;
    align-items: center;
    color: var(--primary-blue);
}

.separator {
    min-width: 90%;
    border-color: var(--line-color);
    margin: 1em auto;
}

.creator-details {
    display: flex;
    align-items: center;
    color: var(--primary-blue);
    font-size: .8em;
}
.avatar {
    border: .2em solid var(--line-color);
    border-radius: 100%;
    width: 2em;
    height: 2em;
    margin-right: .5em;
}

.artist-name {
    color: var(--white);
    margin-left: .25em;
}

.artist-name:hover {
    color: var(--primary-cyan);
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
}

.attribution {
    color: var(--primary-blue);
    margin-top: 1em;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}